//Home
.home {
  flex: 1;
  display: flex;
  padding: 52px 0;
  align-items: center;

  &-container {
    padding-left: 32px;
  }

  &__title {
    font-size: 10px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.8px;
    color: map-get($colors, "dark-200");
  }

  &__insurance {
    font-size: 28px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: -0.6px;
    color: map-get($colors, "dark-200");
    span {
      color: map-get($colors, "primary");
    }
  }

  &__subtitle {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: map-get($colors, "dark-100");
  }
}
.copyright {
  display: none;
}

.home-info {
  justify-content: space-between;
  display: flex;
  height: 280px;
  position: relative;
  flex-direction: column;
  justify-content: center;
  background-color: map-get($colors, "dark-50");
}

.home__image {
  width: fit-content;
  height: 276px;
  display: flex;
  justify-content: center;

  &-container {
    z-index: 1000;
    bottom: -30px;
    right: 0;
    position: absolute;
    display: flex;
    justify-content: flex-end;
  }
}

.image-desktop {
  display: none;
}

@include respond-to("sm") {
  .home__title {
    font-size: 12px;
  }
}

@include respond-to("md") {
  .home {
    padding-bottom: 0;
    &-container {
      padding-left: 0;
    }
    &__instructions{
      max-width: 70%;
    }
    &__insurance {
      font-size: 36px;
      line-height: 48px;
    }
    &__subtitle {
      font-size: 14px;
      line-height: 24px;
    }
  }

  .copyright {
    display: block;
    font-size: 12px;
    color: map-get($colors, "gray-100");
    margin-top: 50px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0.2px;
  }

  .home-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .home__instructions {
    position: absolute;
    bottom: -260px;
    z-index: 2500;
  }

  .home__image-container {
    right: auto;
    left: 0;
    bottom: 0;
    top: -52px;
    width: 100%;
    height: 100vh;
    position: absolute;
    height: 100vh;
    background-image: url("/src/assets/images/home-photo-desktop.svg");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .image-mobile {
    display: none;
  }

  .image-desktop {
    display: block;
    margin-top: 100px;
  }

  .home-container {
    height: 100%;
  }
}

@include respond-to(lg) {
  .home-container {
    padding-bottom: 0px;
  }
  .home__form-section {
    display: flex;
    justify-content: center;
  }
}

@include respond-to(3xl) {
  .home {
    max-width: 1140px;
    margin: auto;
  }
  .home__instructions {
    bottom: -330px;
  }
}
