.quotation-layout {
  display: flex;
  margin-top: 52px;

  &__sidebar {
    width: 30%;
    background-color: #f7f8fc;
    padding-top: 48px;
    display: none;
    height: calc(100vh - 52px);

    @include respond-to(lg) {
      display: block;
      padding-left: 40px;
      padding-right: 40px;
    }
    @include respond-to(xl) {
      padding-left: 80px;
      padding-right: 40px;
    }
    @include respond-to(2xl) {
      padding-left: 120px;
      padding-right: 64px;
    }
  }

  &__content {
    width: 70%;
    padding: 48px 96px;
  }
}
