.document-container {
  overflow: hidden;
  border-radius: 4px;
  border: 1px solid map-get($colors, "gray-100");
  .select-container {
    border-right: 1px solid map-get($colors, "gray-100");
  }
}
