.wrapper-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  margin: auto;
  flex-direction: column;
  position: relative;
  &__content {
    flex: 1;
    display: flex;
    padding: 52px 0;
    align-items: center;
  }
}

@include respond-to("lg") {
  .wrapper-container {
    &__content {
      main {
        margin: 0;
      }
    }
  }
}
