// Define variables for reusable values
$input-background: #f9f9f9;
$input-error-color: #e74c3c;
$input-padding: 10px;
$input-border-radius: 8px;

// Variables de colores
$colors: (
  "primary": #ef3340,
  "secondary": #2b304e,
  "purple-100": #ccd1ee,
  "purple-200": #d7dbf5,
  "dark": #03050f,
  "dark-50":#f7f8fc,
  "dark-100": #676F8F,
  "dark-200": #494F66,
  "white": #ffffff,
  "light-gray": #e4e8f7,
  "gray-50": #f1f1f1,
  "gray-100":#A3ABCC,
  "green-100": #00f4e2,
  "green-200": #00ff7f,
  "green-300": #43B748,
  "light-blue": #3498db,
  "purple-grey": #edeffc,
  "purple-dark": #6769ff,
  "purple-pastel": #7981b2,
  "purple-night": #141938,
);
$text-color: map-get($colors, "dark");
$background-color: #fafbff;

// Tipografía
$font-family-base: "Lato", "Noto Sans", sans-serif;
$font-size-base: 16px;

// Espaciado
$spacer: 1rem;

// Grid
$grid-columns: 12;

// Breakpoints
$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  2xl: 1440px,
  3xl: 1950px,
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
);
