.header__container {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2000;
  &-home {
    background-color: map-get($colors, "dark-50");
  }
}

.header__logo {
  width: 92px;
  height: 16px;
}

.contact {
  &__title {
    display: none;
    color: map-get($colors, "dark-100");
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.2px;
    text-align: right;
  }

  .telephone {
    &__text {
      color: map-get($colors, "purple-dark");
      font-size: 18px;
      line-height: 20px;
      letter-spacing: 0.4px;
      font-weight: 400;
    }

    &__icon {
      font-size: 20px;
    }

    &_desktop {
      display: none;
    }
  }
}

@include respond-to("sm") {
  .contact__title {
    display: inline-block;
  }
  .contact .telephone {
    &_mobile {
      display: none;
    }
    &_desktop {
      display: block;
    }
  }
}

@include respond-to("md") {
  .header__container-home {
    background-color: transparent;
  }
  .header__logo {
    width: 99px;
  }
}
